# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Read School Data File and store into Pandas Data Frames
school_data_to_load = "Resources/schools_complete.csv"
sch_d = pd.read_csv(school_data_to_load)
sch_d.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Read Student Data File and store into Pandas Data Frames
student_data_to_load = "Resources/students_complete.csv"
stu_d = pd.read_csv(student_data_to_load)
stu_d.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset
# full_d = pd.merge(stu_d, sch_d, how="left", on=["school_name", "school_name"])
full_d = pd.merge(stu_d, sch_d, how="left", left_on="school_name", right_on="school_name")
full_d.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# AUDIT:
#print(sch_d.count(), "\n", sch_d.describe(), "\n\n" )
#print(stu_d.count(), "\n", stu_d.describe())

# Implement any required data cleaning here.

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
# Use agg or apply methods to calculate needed statistics
# School data statistics:
#  total number of schools
#  total budget
tot_n_sch, tot_budget = sch_d.agg({"school_name":"count",
                                   "budget":"sum"
                                  })

#print(tot_n_sch, tot_budget)

In [8]:
# Use agg or apply methods to calculate needed statistics
# Student data statistics
#  total number of students
#  average math score
#  average reading score
tot_n_stu, avg_math_sc, avg_read_sc = stu_d.agg({"student_name":"count",
                                                 "math_score":"mean",
                                                 "reading_score":"mean"
                                                })

#  overall average score, i.e. (avg. math score + avg. reading score)/2
avg_overall_sc = (avg_math_sc + avg_read_sc)/2

#print(tot_n_stu, avg_math_sc, avg_read_sc, avg_overall_sc)

In [42]:
# [DONE] REFACTOR: Use function to calculate pass rate that can be reused w/ later sections
#
# Function: Calculate Passing Rate for 1 or 2 sets of scores
#
# Determine if each student passed (>=70) or failed (<70) up to two subjects
# Then use this info to count "Pass" / Total Students
#
# Arguments:
#   a = Series containing scores to be compared with passing threshold (70.0)
#   b = Optional Series containing scores to be compared with passing threshold (70.0)
#
# Return value:
#   retval = Scalar value representing the pass rate of students in the Series

def p_rate(a, b = None):
    if (b is None):
        p_sc = (a >= 70.0)
    else:
        p_sc = (a >= 70.0) & (b >= 70.0)

    retval = p_sc[ p_sc == True ].count() / p_sc.count()
    return retval

# Function: Calculate Passing Rate for 2 subjects
#
# Determine if each student passed (>=70) or failed (<70) two subjects
# Then use this info to count "Pass" / Total Students
#
# Arguments:
#   a, b = Series containing scores to be compared with passing threshold (70.0)
#
# Return value:
#   retval = Scalar value representing the pass rate of students in the Series

def p_rate_both(a,b):
    p_sc = (a >= 70.0) & (b >= 70.0)
    retval = p_sc[ p_sc == True ].count() / p_sc.count()
    return retval

In [24]:
# Use agg or apply methods to calculate needed statistics
# Student data statistics
#  percentage of students with a passing math score (70 or greater)
# OLD METHOD: pass_math = stu_d["student_name"].loc[ stu_d["math_score"] >= 70.0 ].count() / tot_n_stu
pass_math = p_rate( stu_d['math_score'] )

#  percentage of students with a passing reading score (70 or greater)
# pass_reading = stu_d["student_name"].loc[ stu_d["reading_score"] >= 70.0 ].count() / tot_n_stu
pass_reading = p_rate(stu_d['reading_score'])

#  percentage of students with overall passing score (average of % passing math and reading)
pass_overall = (pass_math + pass_reading)/2

#  percentage of students with a passing both math and reading (both math and reading 70 or greater)
# pass_both = stu_d["student_name"].loc[ ( (stu_d["math_score"] >= 70.0) & (stu_d["reading_score"] >= 70.0) ) ].count() / tot_n_stu
pass_both = p_rate_both( stu_d['math_score'], stu_d['reading_score'])

print( pass_math, pass_reading, pass_both )

0.749808526933878 0.8580546336482001 0.6517232575950983

In [43]:
print( p_rate( stu_d['math_score']),
       p_rate(stu_d['reading_score']),
       p_rate( stu_d['math_score'], stu_d['reading_score'])
     )

0.749808526933878 0.8580546336482001 0.6517232575950983

In [44]:
print( p_rate( stu_d['math_score']),
       p_rate(stu_d['reading_score']),
       p_rate_both( stu_d['math_score'], stu_d['reading_score'])
     )

0.749808526933878 0.8580546336482001 0.6517232575950983

84    1028
78    1019
81    1017
83    1017
91    1016
70    1014
68    1005
94    1004
72    1003
95     999
89     998
69     992
85     989
99     987
74     983
77     980
93     980
79     979
73     979
98     973
71     971
92     970
75     964
87     964
90     957
96     956
76     956
82     950
97     949
88     926
86     925
80     917
65     633
61     633
63     619
57     617
66     613
62     610
60     603
58     601
56     584
59     583
67     575
55     574
64     558
Name: math_score, dtype: int64

In [ ]:
#  percentage of students with a passing math score (70 or greater)
sch_s_df['% Passing Math'] = sch_g.apply(lambda x: p_rate(x.math_score) )

#  percentage of students with a passing reading score (70 or greater)
sch_s_df['% Passing Reading'] = sch_g.apply(lambda x: p_rate(x.reading_score) )

In [259]:
district_summary = pd.DataFrame( {"Total Schools": [ f"{tot_n_sch:,.0f}" ],
                                  "Total Students": [ f"{tot_n_stu:,.0f}" ],
                                  "Total Budget": [ f"${tot_budget:,.2f}" ],
                                  "Average Math Score": [ f"{avg_math_sc:.1f}" ],
                                  "Average Reading Score": [ f"{avg_read_sc:.1f}" ],
                                  "Average Overall Score": [ f"{avg_overall_sc:.1f}" ],
                                  "% Passing Math": [ f"{pass_math:.1%}" ],
                                  "% Passing Reading": [ f"{pass_reading:.1%}" ],
                                  "% Passing Overall": [ f"{pass_overall:.1%}" ],               
                                  "% Passing Both Math and Reading": [ f"{pass_both:.1%}" ]                
                                 })

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Average Overall Score,% Passing Math,% Passing Reading,% Passing Overall,% Passing Both Math and Reading
0,15,"39,170","$24,649,428.00",79.0,81.9,80.4,75.0%,85.8%,80.4%,65.2%

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [9]:
full_d.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [251]:
# Group by 'school_name'
sch_g = full_d.groupby('school_name')

In [252]:
# Calculate per School values for:
#   School Name -- already the key for the dataframe
#   School Type
#   Total Students
#   Total School Budget
sch_s_df = sch_g.agg({"type":"max",
                      "student_name":"count",
                      "budget":"max"
                     })

# Rename the columns in the School Summary dataframe
sch_s_df.rename(inplace=True, columns={"type":"School Type",
                         "student_name":"Number of Students",
                         "budget":"Total Budget"
                        })
sch_s_df.head()

                     School Type  Number of Students  Total Budget
school_name
Bailey High School      District                4976       3124928
Cabrera High School      Charter                1858       1081356
Figueroa High School    District                2949       1884411
Ford High School        District                2739       1763916
Griffin High School      Charter                1468        917500

In [253]:
# Enter per-School values into the School summary dataframe
#   Per Student Budget
sch_s_df['Budget per Student'] = sch_s_df['Total Budget'] / sch_s_df['Number of Students']
sch_s_df.head()

,School Type,Number of Students,Total Budget,Budget per Student
school_name,,,,
Bailey High School,District,4976,3124928,628.0
Cabrera High School,Charter,1858,1081356,582.0
Figueroa High School,District,2949,1884411,639.0
Ford High School,District,2739,1763916,644.0
Griffin High School,Charter,1468,917500,625.0

In [254]:
#Average Math Score
#Average Reading Score
sch_s_df['Average Math Score'] = sch_g.agg({ "math_score":"mean" })
sch_s_df['Average Reading Score'] = sch_g.agg({"reading_score":"mean"})
sch_s_df.head()

,School Type,Number of Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score
school_name,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020
Ford High School,District,2739,1763916,644.0,77.102592,80.746258
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757

In [262]:
# Calculate:
#   % Passing Math
#   % Passing Reading
#   Overall Passing Rate (Average of the above two)

#  percentage of students with a passing math score (70 or greater)
sch_s_df['% Passing Math'] = sch_g.apply(lambda x: p_rate(x.math_score) )

#  percentage of students with a passing reading score (70 or greater)
sch_s_df['% Passing Reading'] = sch_g.apply(lambda x: p_rate(x.reading_score) )

#  percentage of students with an overall passing score (average of % pass Math and Reading)
sch_s_df['% Passing Overall'] = (sch_s_df['% Passing Math'] + sch_s_df['% Passing Reading'])/2.0

sch_s_df.head()

,School Type,Number of Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,% Passing Both Math and Reading
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.646302,0.793006,0.719654,0.511455
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.895587,0.938644,0.917115,0.840151
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.637504,0.784334,0.710919,0.499152
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.657539,0.775100,0.716320,0.512961
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.897139,0.933924,0.915531,0.836512

In [261]:
#  percentage of students with a passing both math and reading (both math and reading 70 or greater)
# pass_both = stu_d["student_name"].loc[ ( (stu_d["math_score"] >= 70.0) & (stu_d["reading_score"] >= 70.0) ) ].count() / tot_n_stu
sch_s_df['% Passing Both Math and Reading'] = sch_g.apply(lambda x: p_rate_both(x.math_score, x.reading_score) )
sch_s_df.head()

,School Type,Number of Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,% Passing Both Math and Reading
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.646302,0.793006,0.719654,0.511455
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.895587,0.938644,0.917115,0.840151
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.637504,0.784334,0.710919,0.499152
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.657539,0.775100,0.716320,0.512961
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.897139,0.933924,0.915531,0.836512

In [260]:
sch_s_df

,School Type,Number of Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,% Passing Both Math and Reading
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.646302,0.793006,0.719654,0.511455
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.895587,0.938644,0.917115,0.840151
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.637504,0.784334,0.710919,0.499152
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.657539,0.775100,0.716320,0.512961
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.897139,0.933924,0.915531,0.836512
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.647465,0.781877,0.714671,0.501618
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.906323,0.927400,0.916862,0.840749
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.633185,0.788138,0.710662,0.499143
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.638521,0.782819,0.710670,0.498005
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.916840,0.922037,0.919439,0.848233
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.640660,0.777444,0.709052,0.494374
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.898921,0.926178,0.912550,0.831914
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.902141,0.929052,0.915596,0.842813
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.909330,0.932545,0.920937,0.848883
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.902778,0.934444,0.918611,0.844444

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757